<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString"
            connectionString="Data Source=DESKTOP-PODKDH8\SQLEXPRESS;Initial Catalog=SPRHR_Solution;User ID=sa;Password=haovo7640"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString1"
            connectionString="Data Source=DESKTOP-69K2HSI\SQLEXPRESS;Initial Catalog=SPRHR_Solution;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.UserRoleConnectionString"
            connectionString="Data Source=MRRED;Initial Catalog=UserRole;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString2"
            connectionString="Data Source=DESKTOP-NUIMKH8;Initial Catalog=SPRHR_Solution;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.UserRoleConnectionString1"
            connectionString="Data Source=DESKTOP-DU4H6R3;Initial Catalog=UserRole;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString3"
            connectionString="Data Source=DESKTOP-DU4H6R3;Initial Catalog=SPRHR_Solution;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString4"
            connectionString="Data Source=DESKTOP-F32KOUU\SQLEXPRESS;Initial Catalog=SPRHR_Solution;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.SPRHR_Solution_2ConnectionString"
            connectionString="Data Source=DESKTOP-69K2HSI\SQLEXPRESS;Initial Catalog=SPRHR_Solution_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>