<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString"
            connectionString="Data Source=DESKTOP-PODKDH8\SQLEXPRESS;Initial Catalog=SPRHR_Solution;User ID=sa;Password=haovo7640"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.SPRHR_SolutionConnectionString1"
            connectionString="Data Source=DESKTOP-69K2HSI\SQLEXPRESS;Initial Catalog=SPRHR_Solution;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>